<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="row mb-5">
            <div class="col-md-4 mb-3">
              <h3 class="footer-heading mb-4">Adresse</h3>
              <p class="footer-para">R. de Jérusalem. 2098 RADÈS MEDINA BEN AROUS</p>
              </div>
              <div class="col-md-2 ml-auto mr-auto mb-3">
                <h3 class="footer-heading mb-4">Contact</h3>
                <ul class="list-unstyled float-left mr-5">
                  <li class="footer-para">+216 27 400 982</li>
                  <li class="footer-para">+216 55 309 978</li>
                  <li class="footer-para">contact.fale7y.tn@gmail.com</li>
                </ul>
              </div>
              <div class="col-md-4 mb-3">
                <div>
                  <h3 class="footer-heading mb-4">Zone de livraison</h3>
                  <p class="footer-para">
                    Grand tunis, Nabeul centre, Hammamet, Grombalia , Beni khaled
                  </p>
                </div>
              </div>
            </div>

          <ul class="social">
            <li>
              <a href="https://www.facebook.com/Fale7y.tn/"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://instagram.com/fale7y?igshid=gy4pb4fxzxqs"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a href="https://mail.google.com/mail/u/0/?view=cm&fs=1&tf=1&to=Contact.fale7y.tn@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
            </li>
            <li>
              <a href="https://www.linkedin.com/company/fale7y-tn" target="_blank"><i class="fab fa-linkedin"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <p class="copyright">
            Copyright &copy; 2020 Fale7y
          </p>
        </div>
      </div>
    </div>
  </footer>
  
